extends layout

block content
  div.jumbotron.my-3
    h1.display-4 お買い物リスト
    p.lead お買い物リストは、GitHubで認証でき、お買い物リストを作って効率的なお買い物をするためのサービスです
  if user
    div
      a(href="/shopping_list/new").btn.btn-info お買い物リストを作る
    - var hasShopping_list = shopping_lists.length > 0
    if hasShopping_list
      h3.my-3 あなたの作ったお買い物リスト一覧
      table.table
        tr
          th リスト名
          th 更新日時
        each shopping_list in shopping_lists
          tr
            td
              a(href=`/shopping_lists/${shopping_list.shopping_list_Id}`) #{shopping_list.shopping_list_Name}
              td #{shopping_list.formattedUpdatedAt}